/*palette from: https://www.schemecolor.com/hot-pink-neon-with-navy.php*/
body {
  background-color: #1974D1;
}


h2 {
  color: #8F2556;
  font-family: Tahoma;
}


h3 {
  color: #8F2556;
  font-family: Tahoma;
}


h4 {
  color: #8F2556;
  font-family: Tahoma;
}


p {
  font-family: "Tahoma";
  color: #383838;
  text-indent: "30px";
  margin-left: "15px";
}


#content {
  background-color: #FF69B3;
  padding: 50px;
  margin: 20px;
  border: 15px solid #000081;
}

#output {
  background-color: #FFBAE1;
  padding-left: 15px;
  padding: 10px;
  border-radius: 5px;
  max-width: 450px;
}
