body {
  background-color: #DC143C;
}


h2 {
    color: #993300;
    font-family: Tahoma;
}


h3 {
    color: #993300;
    font-family: Tahoma;
}


h4 {
    color: #993300;
    font-family: Tahoma;
}


p {
    font-family: "Tahoma";
    text-indent: "30px";
    margin-left: "15px";
}


#content {
    background-color: #fffff2;
    padding: 50px;
    margin: 20px;
    border: 15px dashed #DAA520;
}
