/*palette from: https://www.schemecolor.com/pastel-green-red-and-blue.php*/
body {
  background-color: #E4F6DF;
}


h2 {
  color: #60915E;
  font-family: Tahoma;
}


h3 {
  color: #60915E;
  font-family: Tahoma;
}


h4 {
  color: #60915E;
  font-family: Tahoma;
}


p {
  font-family: "Tahoma";
  text-indent: "30px";
  margin-left: "15px";
}


#content {
  background-color: #F9E5EA;
  padding: 50px;
  margin: 20px;
  border: 15px solid #BEDEED;
}

#output {
  background-color: #E1EFF5;
}
